{% load static %}
        <!-- Header Start -->
        <header id="header">
            <div class="main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="logo">
                                <a href="{% url 'home' %}" class="light-logo">
                                    <img src="{% static 'logo/logo.png' %}" alt="FoodBakery" width="180">
                                </a>
                            </div>
                            <div class="main-location">
                                <ul>
                                    <li class="location-has-children choose-location">
                                        <form action="#">
                                            <input type="text" value="" name="location" placeholder="Enter your delivery location" autocomplete="off">
                                            <span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
                                        </form>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 justify-content-right">
                            <div class="row h-100 d-flex justify-content-end align-items-center">
                                {% if user.is_authenticated %}
                                <a class="login-sign-up mx-3" href="{% url 'logout' %}">Cerrar sesión</a>
                                <div class="login-option">
                                    <a class="get-start-btn" href="{% url 'my_account' %}">Mi cuenta</a>
                                </div>
                                {% else %}
                                <a class="login-sign-up mx-2" href="{% url 'login' %}">Iniciar sesión</a>
                                /
                                <a class="login-sign-up mx-2" href="{% url 'register_user' %}">Registrarse</a>
                                <div class="login-option">
                                    <a class="get-start-btn" href="{% url 'register_vendor' %}">Registrar Restaurante</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->