ul.errorlist.nonfield li {
    margin-bottom: 0;
}

.login-sign-up {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.login-sign-up:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}

span.text-danger ul li {
    font-size: 12px;
}

.link-food-by-cat:hover,
.link-hover:hover {
    text-decoration: none;
}

label.qty {
    margin: 0 15px;
}

span.price {
    margin-right: 20px;
}

#cart_counter {
    border-radius: 50%;
    position: relative;
    bottom: 15px;
    left: -5px;
    min-width: 18px;
}

.icon-cart {
    font-size: 20px;
}

.delete_cart {
    margin-left: 15px;
}

.distancia {
    height: 50px;
}