ul.errorlist.nonfield li {
    margin-bottom: 0;
}

.login-sign-up {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.login-sign-up:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}

span.text-danger ul li {
    font-size: 12px;
}

.link-food-by-cat:hover {
    text-decoration: none;
}